[submodule "waraddonclient-arch-pkgbuild"]
	path = waraddonclient-arch-pkgbuild
	url = https://github.com/xpander69/waraddonclient-arch-pkgbuild.git
[submodule "arch-pkgbuild"]
	path = arch-pkgbuild
	url = https://github.com/xpander69/waraddonclient-arch-pkgbuild.git
