Package: WARAddonClient
Name: WARAddonClient
Description: A Java addon manager for Warhammer Return of Reckoning
Author: Idrinth
Maintainer: Idrinth
Version: 1.11
Section: Games
Depends: default-jre
Architecture: all
Homepage: https://tools.idrinth.de/
Website: https://tools.idrinth.de/
Icon: /opt/WARAddonClient/logo.png
Priority: optional
