[Desktop Entry]
Name=${project.artifactId}
Comment=${description}
Exec=java -jar /opt/WARAddonClient/${project.artifactId}.jar
Icon=/opt/WARAddonClient/logo.png
Terminal=false
Type=Application
Categories=Game;
