[Desktop Entry]
Name=${project.artifactId}
Comment=${description}
Exec=java -jar /usr/local/bin/WARAddonClient/${project.artifactId}.jar
Icon=/usr/local/bin/WARAddonClient/logo.png
Terminal=false
Type=Application
Categories=Game;
