[Desktop Entry]
Name=WARAddonClient
Comment=Updating Warhammer Return of Reckoning Addons.
Exec=java -jar /usr/local/bin/WARAddonClient/WARAddonClient.jar
Icon=/usr/local/bin/WARAddonClient/logo.png
Terminal=false
Type=Application
Categories=Game;
